Flask==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gevent==1.2.2
gunicorn==19.8.1
PyMySQL==0.8.1
simplejson==3.14.0
SQLAlchemy==1.2.7
SQLAlchemy-Paginator==0.1
voluptuous==0.11.1
Werkzeug==0.14.1
salt==3003.5
flask_migrate==2.5.2
